.hs6-container {
  height: 365px;
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hs6-container > h2 {
  font-size: 50px;
  font-weight: 600;
  color: #3f3a64;
}

.slider {
  width: 600px;
  height: 224px;
  background-color: #eae1d6;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slider-track {
  display: flex;
  width: calc(258px * 12);
  animation: scroll 30s linear infinite;
}

.slider-track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-258px * 6));
  }
}

.slide {
  width: 258px;
  height: 224px;
  display: flex;
  align-items: center;
  padding: 10px;
  perspective: 100px;
}

.slide img {
  width: 100%;
  transition: transform 1s;
}

.slide img:hover {
  transform: translateZ(10px);
}

@media screen and (max-width: 998px) {
  .hs6-container {
    height: 365px;
    width: 100%;
  }
}
