.hs2-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: #000;
  gap: 7rem;
  overflow: hidden;
}

.hs2-wrapper1 {
  height: 370px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hs2-header1 {
  height: 143.7px;
  width: 100%;
}

.hs2-header1 h3,
h1 {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.hs2-header1 h3 {
  font-weight: 400;
  text-transform: uppercase;
  color: #8c89a2;
  font-size: 15px;
  letter-spacing: 2px;
}

.hs2-header1 h1 {
  font-size: 34px;
  font-weight: 700;
  color: #3f3a64;
}

.hs2-header1 h1 span {
  color: #f7b53e;
  font-weight: 300;
}

.hs2-icon-wrapper {
  width: 100%;
  height: 220px;
  display: flex;
  margin-top: 1rem;
}

.icon-box {
  width: 292.5px;
  height: 298.8px;
  padding: 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.icon-box:hover {
  background: #fff;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.icon {
  color: #f7b53e;
  font-size: 60px;
}

.icon-box h3 {
  font-size: 24px;
}

.icon-box p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
}

.hs2-wrapper2 {
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hs2-header2 {
  width: 955px;
  height: 350px;
}

.hs2-header2 > h2 {
  width: 100%;
  font-size: 34px;
  color: #3f3a64;
  text-align: center;
}

.hs2-header2 > h2 > span {
  color: #f7b53e;
}

.hs2-content2 {
  height: 240px;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.hs2-content2-div1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
}

.hs2-content2-div1 p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8em;
}

.hs2-content2-div1 span {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em;
}

.hs2-content2-div2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5rem 0;
  gap: 1rem;
}
.hs2-content2-div2 > h2 {
  font-size: 24px;
  font-weight: 600;
  color: #20ad96;
}

.hs2-content2-div2 > h2 > span {
  font-size: 2em;
  color: #f7b53e;
}

.hs2-content2-div2 > h3 {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 2px;
  color: #3f3a64;
}

.hs2-content2-div2 > a {
  color: #f7b53e;
  font-weight: 500;
}

@media only screen and (max-width: 998px) {
  .hs2-container {
    height: 1322px;
  }

  .hs2-wrapper1,
  .hs2-wrapper2 {
    width: 100%;
    height: 1322px;
  }

  .hs2-wrapper1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .hs2-wrapper2 {
    display: none;
  }

  .hs2-header1 {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
  }

  .hs2-header1 > h3 {
    font-size: 15px;
    width: 100%;
    display: block;
  }

  .hs2-header1 > h1 {
    display: block;
  }

  .hs2-icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hs2-icon-wrapper {
    gap: 2rem;
  }

  .icon-box {
    width: 290px;
    height: 250px;
    padding: 0;
  }

  .icon {
    font-size: 40px;
  }
}
